<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="form (song, action, isEdit, albums, artists, genres)">
    <form th:action="@{${action}}" th:object="${song}" method="post" class="needs-validation" novalidate>

        <!-- Titolo -->
        <div class="mb-3">
            <label for="title" class="form-label">Titolo</label>
            <input type="text" th:field="*{title}" class="form-control" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Errore titolo</div>
        </div>

        <!-- Durata -->
        <div class="mb-3">
            <label for="duration" class="form-label">Durata (secondi)</label>
            <input type="number" th:field="*{duration}" class="form-control" required min="10" max="900"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Errore durata</div>
        </div>

        <!-- Album -->
        <div class="mb-3">
            <label for="album" class="form-label"></label>
            <select th:field="*{album}" class="form-select">
                <option th:each="album : ${albums}" th:value="${album.id}" th:text="${album.title}">Album</option>
            </select>
        </div>

        <!-- Artista -->
            <label class="form-label mb-3">Artisti</label>
            <div th:each="artist : ${artists}" class="form-check mb-3">
                <input type="checkbox" class="form-check-input" th:id="|artist-${artist.id}|"
                       th:value="${artist.id}" th:field="*{artists}">
                <label class="form-check-label" th:for="|artist-${artist.id}|" th:text="${artist.name}"></label>
            </div>
            <div class="text-danger" th:if="${#fields.hasErrors('artists')}" th:errors="*{artists}"></div>
        

        <!-- Generi -->
        <label class="form-label">Generi</label>
        <div th:each="genre : ${genres}" class="form-check mb-3">
            <input class="form-check-input" type="checkbox"
                   th:field="*{genres}" th:value="${genre.id}" th:id="|genre-${genre.id}|" />
            <label class="form-check-label" th:for="|genre-${genre.id}|" th:text="${genre.name}">Genere</label>
        </div>

        <!-- Pulsanti -->
        <div class="mt-4">
            <button type="submit" class="btn btn-primary" th:text="${isEdit} ? 'Salva modifiche' : 'Crea canzone'"></button>
        </div>
    </form>
</th:block>
</body>
</html>
