<!-- FOOTER -->
<footer th:fragment="footer" class="bg-dark text-light text-center py-4 mt-5">
    <div class="container">
      <p class="mb-1">&copy; 2025 MyMusicLibrary. Tutti i diritti riservati.</p>
      <div>
        <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-light me-3"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
        <a th:href="@{https://github.com/AlessandroSottosanti}" class="text-light" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </footer>
  